@import url('/assets/css/header-footer-style.css');
.content-ab {
    height: auto;
    width: 1366px;
    /* justify-items: center; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 72px 120px 0 120px;
    background-color: white;
    margin: auto;
}

.content-us p {
    font-size: 14px;
    display: flex;
    text-align: center;
    margin: 0 0 20px 20px;
    color: #3d3d3d;
}


/* .About-us {
    grid-area: box1;
    text-align: center;
} */

.content-us h3 {
    align-items: center;
    margin: 0 0 20px 20px;
}

.content-us {
    grid-area: box1;
    text-align: justify;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
}

.about-us-img .ct-img {
    grid-area: box2;
    width: 500px;
}

.ct-img {
    width: 80%;
}