/* // .btn-edit-profile
//     height: 24px
//     padding: 0 24px
//     color: white
//     outline: none
//     border: none
//     border-radius: 16px
//     margin-top: 8px
//     margin-left: 16px
//     @include data-btn-color
// .user-edit-profile
//     position: fixed
//     height: 100vh
//     width: 100vw
//     z-index: 15
//     overflow: auto
//     top: 0
//     left: 0
//     background-color: rgba(0, 0, 0, 0.4)
// .user-edit-profile
//     .close-modal-edit
//         color: white
//         font:
//             family: sans-serif
//             size: 16px
//             style: inherit
//         position: absolute
//         right: 32px
//         cursor: pointer
//         &:hover
//             color: #FF3333           
//     .modal-edit-profile
//         width: 400px
//         position: relative
//         background-color: white
//         margin: auto
//             top: 64px
//         padding: 16px 0
//         background-color: #1e272e
//     .user-avatar
//         margin: auto
//         width: 120px
//         height: 120px
//         .user-img
//             height: 120px
//             width: 120px
//             border: 
//                 radius: 80px
//             box-shadow: none
//     #change-avatar
//         display: none
//     .btn-change-avatar
//         display: flex
//         justify-content: center
//         margin-top: 8px
//         text-transform: uppercase
//         cursor: pointer
//         color: white
//     .user-name
//         height: 56px
//         font-size: 24px
//         width: 80%
//         margin: auto
//         display: block
//         text-align: center
//         outline: none
//         color: white
//         background: 
//             color: #1e272e
//         border: none
//             bottom: 2px solid #ffa502
//         margin: 
//             bottom: 16px
//     p
//         text-align: center
//         color: white
//     .btn-save-change
//         margin: 24px auto
//         display: block
//         height: 32px
//         outline: none
//         border: none
//         padding: 0 8px
//         border-radius: 16px
//         color: white
//         @include data-btn-color */


/*------Form login---------*/

.container-login input[type="text"],
.container-login input[type="password"],
.container-login input[type="email"] {
  width: 240px;
  height: 48px;
  background: none;
  margin: 16px auto;
  text-align: center;
  display: block;
  color: #fff;
  border: 2px solid #ffa502;
  box-sizing: border-box;
  border-radius: 20px;
  transition: 0.25s;
}

.container-login input[type="text"]:focus,
.container-login input[type="password"]:focus,
.container-login input[type="email"]:focus {
  width: 352px;
  outline: none;
}

.container-login {
  padding: 0px 50px;
}

/* Set a style for all buttons */

.container-login .btn-sign-in {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-sign-in button[type="submit"] {
  background-color: #2f3640;
  color: white;
  font-size: 16px;
  margin: 8px 0;
  border: 2px solid #ffa502;
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  transition: 0.25s;
}

.btn-sign-in button[type="submit"]:hover,
.btn-sign-in button[type="submit"]:focus {
  background-color: #ffa502;
  outline: none;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 11;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 72px;
}

.modal::-webkit-scrollbar {
  width: 1px;
}

/* Modal Content/Box */

.modal-content {
  background-color: #212121;
  opacity: 90%;
  margin: 0 auto;
  border: none;
  /*margin-top: calc((100vh -  520px)/2);/* cách top 1 khoảng bằng chiều cao màn hình trừ chiều cao modal login chia 2 */
  padding: 8px 0;
  width: 520px;
  border-radius: 4px;
  box-shadow: 0 5px 30px #000;
  /* Could be more or less, depending on screen size */
}

.tittle-container {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.tittle-login {
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
}

/* The Close Button (x) */

.tittle-container .close {
  position: absolute;
  right: 64px;
  top: -2;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.container-login .checked-psw {
  margin: 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-login .checked-psw label {
  color: white;
}

.checked-psw .forgot-psw a {
  text-decoration: none;
  color: #000;
}

.checked-psw .forgot-psw a:hover {
  color: red;
}

.container-login .or {
  width: 100%;
  margin: 16px 0px;
  text-align: center;
  font-size: 16px;
  color: white;
}

.container-login .sign-in-other {
  margin: 0px;
  text-align: center;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sign-in-other #my-signin2 {
  display: flex;
  justify-content: center;
}

.sign-in-other #my-signin2 .abcRioButtonBlue {
  border-radius: 24px;
}

.sign-in-other #gg-login-button {
  display: flex;
  justify-content: center;
}

#gg-login-button .customGPlusSignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 240px;
  height: 40px;
  border-radius: 24px;
  white-space: nowrap;
}

#customBtn:hover {
  cursor: pointer;
}

span.icon {
  background: url("/assets/images/signin-google.png");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  font-size: 16px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: "Roboto", sans-serif;
}

/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

