.main-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #3d3d3d;
  height: auto;
  width: 1366px;
  margin: auto;
  padding: 24px 120px;
}

.main-content .new-post {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .new-post .post-container {
  width: 72%;
  height: 360px;
}

.main-content .new-post .sort-container {
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .two-latest-new {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .two-latest-new .post-container {
  width: 46%;
  height: 280px;
}

.main-content .two-latest-new .post-container:nth-of-type(2) {
  margin-top: 140px;
}

.main-content .list-posts {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.main-content .list-posts .post-container {
  width: 46%;
  height: 280px;
  margin: 16px 0;
}

.main-content .list-posts .post-container:nth-of-type(3) {
  margin-left: 302px;
}

.sort-container .sort-form {
  width: 200px;
  margin: 24px 0 0 0;
  height: 32px;
  padding: 8px;
  color: white;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #ffa502;
}

.sort-container .sort-form:focus {
  outline: none;
}

.sort-container .brands {
  color: black;
}

.sort-container .brands option:nth-of-type(1) {
  color: white;
}

.sort-container .btn-search {
  color: black;
  width: 40px;
  border: none;
  font-size: 24px;
}

.sort-container .btn-search:hover {
  color: white;
}

.container-img360 {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.btn-close {
  position: absolute;
  font-size: 32px;
  font-family: sans-serif;
  right: 80px;
  top: 0;
  font-style: initial;
  cursor: pointer;
}

.post-container .posts {
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #070509;
  padding: 16px;
}

.post-container .posts .post-avatar {
  height: 100%;
  width: 56%;
  display: block;
  margin: auto;
}

.post-container .posts .post-title {
  width: 44%;
  height: auto;
  margin-left: 16px;
}

.post-container .posts .post-content, .post-container .posts .post-hash-tag {
  margin-bottom: 8px;
  width: 100%;
  color: white;
  text-overflow: ellipsis;
  line-height: 25px;
  overflow: hidden;
  height: 100px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.post-container .posts .post-hash-tag {
  height: 75px;
  -webkit-line-clamp: 3;
}

.post-container .posts .read-more {
  color: #ffa502;
  text-decoration: none;
  position: relative;
}

.post-container .posts .read-more::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffa502;
  width: 0;
  top: 18px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.post-container .posts .read-more:hover::before {
  width: 100%;
}

.post-container .status {
  height: 10%;
  width: 100%;
  padding: 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-container .status .user-name, .post-container .status .post-time {
  font-size: 16px;
  color: #ffa502;
}