@media screen and (max-width: 575.98px) {
  .user-wanna-rock {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    padding: 0 16px 8px 16px !important;
  }
  .card-wanna-rock {
    margin: 0 0 4% 3% !important;
    width: 45% !important;
    height: auto !important;
    padding: 2% !important;
  }
  .card-wanna-rock .card-container-title {
    margin-top: 3%;
  }
  .card-wanna-rock .card-container-title .card-title {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
  .card-wanna-rock {
    margin: 0 0 4% 3% !important;
    width: 29% !important;
    height: auto !important;
    padding: 2% !important;
  }
  .card-wanna-rock .card-container-title {
    margin-top: 3%;
  }
  .card-wanna-rock .card-container-title .card-title {
    font-size: 12px !important;
  }
}
