@media screen and (max-width: 575.98px) {
  .user-new-shoes {
    width: 100%;
    padding: 0 !important;
  }
  .txt-title {
    padding: 8px !important;
  }
  .review-img-upload {
    margin-left: 10% !important;
  }
  .review-img-upload .contain-img, .review-img-upload .img-upload {
    max-height: 80px !important;
  }
  .review-img-upload .btn-upload-img {
    height: 24px !important;
    width: 24px !important;
  }
  .title-upload-img {
    font-size: 14px !important;
  }
  .container-choose-more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-choose-more .brands, .container-choose-more .collections, .container-choose-more .hashtag {
    width: 80% !important;
    font-size: 12px !important;
    margin-top: 8px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .user-new-shoes {
    padding: 0 24px !important;
  }
  .title-upload-img {
    font-size: 20px !important;
  }
  .txt-title {
    padding: 8px !important;
  }
  .review-img-upload .img-upload, .review-img-upload .img-upload {
    max-height: 80px !important;
  }
  .container-choose-more .brands, .container-choose-more .collections, .container-choose-more .hashtag {
    width: 24% !important;
    font-size: 14px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .user-new-shoes {
    padding: 0 8% !important;
  }
  .title-upload-img {
    font-size: 20px !important;
  }
  .txt-title {
    padding: 8px !important;
  }
  .review-img-upload .img-upload, .review-img-upload .img-upload {
    max-height: 140px !important;
    margin: 0 8px 8px 0 !important;
  }
  .container-choose-more .brands, .container-choose-more .collections, .container-choose-more .hashtag {
    width: 30% !important;
    font-size: 14px !important;
  }
}
