@media screen and (max-width: 575.98px) {
  .user-your-shelf {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    padding: 0 16px 8px 16px !important;
  }
  .user-your-shelf .cards-posts {
    margin: 0 0 4% 3% !important;
    width: 45% !important;
    height: auto !important;
  }
  .user-your-shelf .cards-posts .card-short-content {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .user-your-shelf .cards-posts {
    width: 40% !important;
    height: auto !important;
    margin: 0 0 5% 6.5% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .user-your-shelf .cards-posts {
    margin: 0 0 2% 2% !important;
    width: 30% !important;
    height: auto !important;
  }
}
