.navbar-right-user, .left-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.navbar {
  background-color: rgba(238, 238, 238, 0.9);
}

.content {
  width: 100%;
  max-width: 1366px;
  height: auto;
  background-color: #0f0d16;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: auto;
  margin-top: 73px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.content-user {
  -webkit-box-shadow: 0 4px 40px #070509;
          box-shadow: 0 4px 40px #070509;
  height: 100%;
  width: 90%;
  margin: auto;
  border-radius: 24px;
  padding: 24px;
}

.user-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-container .user-avatar {
  width: 120px;
  height: 120px;
  max-width: 120px;
  max-height: 120px;
}

.user-container .user-avatar .user-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 24px 0 black;
          box-shadow: 0px 0px 24px 0 black;
}

.user-container .user-name-container {
  padding-left: 40px;
}

.user-container .user-name-container .user-name {
  font-size: 40px;
  color: white;
}

.user-navbar {
  width: 100%;
  height: 80px;
}

.user-navbar .user-menu {
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-navbar .sub-menu .menu-item {
  color: #4a525c;
  text-decoration: none;
  font-size: 24px;
  position: relative;
}

.user-navbar .sub-menu .menu-item:hover {
  color: white;
}

.user-navbar .sub-menu .menu-item::before {
  bottom: 0;
  content: '';
  height: 2px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  width: 0;
  background-color: #ffa502;
  left: 0;
}

.user-navbar .sub-menu .menu-item:hover::before {
  width: 100%;
}

.user-manager-shoes {
  width: 100%;
  margin: auto;
  height: auto;
}

@media screen and (max-width: 575.98px) {
  .content {
    padding: 12px !important;
    margin-top: 56px;
  }
  .content-user {
    width: 100% !important;
    padding: 0 !important;
  }
  .user-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .user-container .user-avatar {
    height: 24% !important;
    width: 24% !important;
  }
  .user-container .user-name-container {
    padding: 0 !important;
  }
  .user-container .user-name-container .user-name {
    font-size: 24px !important;
  }
  .user-navbar {
    height: 56px !important;
    padding: 0 8px !important;
  }
  .user-navbar .menu-item {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 319.98px) {
  .user-name-container .user-name {
    font-size: 18px !important;
  }
  .user-navbar .menu-item {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .user-name-container .user-name {
    font-size: 24px !important;
  }
  .user-navbar .menu-item {
    font-size: 20px !important;
  }
}

#btn-your-shelf {
  color: white !important;
}

.user-your-shelf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  margin: auto;
  height: auto;
}

.user-your-shelf .cards-posts {
  width: 28%;
  height: auto;
  cursor: pointer;
  margin: 0 0 2% 3.6%;
  position: relative;
  background-color: rgba(32, 28, 41, 0.75);
}

.user-your-shelf .card-container-img {
  width: 100%;
  height: 80%;
}

.user-your-shelf .card-container-img .card-img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.user-your-shelf .card-container-content {
  height: auto;
  padding: 8px;
  color: white;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.user-your-shelf .card-container-content .card-short-content {
  overflow: hidden;
}

.more-edit-post {
  position: absolute;
  right: 8px;
  top: 8px;
}

.more-edit-post .btn-more {
  font-size: 24px;
}

.more-edit-post .more-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  height: 120px;
  width: 120px;
  right: 0;
  padding: 8px;
  border-radius: 4px;
  z-index: 14;
  -webkit-box-shadow: 4px 4px 16px 0 gray;
          box-shadow: 4px 4px 16px 0 gray;
}

.more-edit-post .more-menu-item {
  margin-top: 16px;
  margin-left: 12px;
  position: relative;
}

.more-edit-post .more-menu-item button {
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
}

.more-edit-post .more-menu-item::before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  height: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #000;
  left: 0;
  bottom: -2px;
}

.more-edit-post .more-menu-item:hover::before {
  width: 100%;
}

.more-edit-post .active {
  display: block !important;
}
