<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/about-style.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <title>About ShoesShelf</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar" id="navbar">
                <div class="nav-bar">
                    <!--Navbar left -->
                    <div class="navbar-left">
                        <div class="left-logo">
                            <img src="./assets/images/logo-main.png" alt="Error" class="logo-img">
                        </div>
                        <!--Menu hone, about, latest news-->
                        <ul class="left-menu" id="left-menu">
                            <li class="left-sub-menu">
                                <a href="" class="menu-item">Home</a>
                            </li>
                            <li class="left-sub-menu">
                                <a href="./about.html" class="menu-item">About us</a>
                            </li>
                            <li class="left-sub-menu">
                                <a href="latest-news" class="menu-item">Latest news</a>
                            </li>
                        </ul>
                    </div>
                    <!--Navbar middle-->
                    <div class="navbar-middle">
                        <a href="/" class="img-logo"></a>
                    </div>
                    <div class="navbar-right" id="navbar-right">
                        <!--Navbar right before sign in-->
                        <div class="right-menu">
                            <ul class="menu ">
                                <li class="right-sub-menu">
                                    <a class="hidden-show-up-menu menu-bars menu-item" title="Menu">
                                        <i class="fas fa-bars"></i>
                                    </a>
                                </li>
                                <li class="right-sub-menu hidden">
                                    <a href="./about.html" class="menu-item">About Us</a>
                                </li>
                                <li class="right-sub-menu hidden">
                                    <a id="btn-sign-in" class="menu-item" onclick="showUpSignIn()">Login</a>
                                </li>
                                <li class="right-sub-menu hidden">
                                    <a id="btn-sign-up" class="menu-item" onclick="showUpSignUp()">Register</a>
                                </li>
                                <li class="right-sub-menu hidden">
                                    <a class="hidden-show-up-menu close-menu menu-item" title="Close menu">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="right-search">
                            <form action="" class="search-form">
                                <input type="text" name="search" placeholder="Search anything you want...">
                                <button class="btn-search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <!--Navbar right after sign in-->
                    <div class="navbar-right-user" id="navbar-right-user">
                        <!--search-->
                        <div class="right-search">
                            <form action="" class="search-form">
                                <input type="text" name="search" placeholder="Search anything you want...">
                                <button class="btn-search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <!--showup user after user sign in complete-->
                        <div id="user" class="user">
                            <div class="user-avatar">
                                <img src="" id="user-img" class="user-img">
                                <ul class="user-menu" id="user-menu" style="display: none;">
                                    <li class="user-menu-item">
                                        <div class="user-name-container">
                                            <p id="user-name" class="user-name">Name_User</p>
                                        </div>
                                    </li>
                                    <li class="user-menu-item">
                                        <a href="my-shelf">My Shelf</a>
                                    </li>
                                    <li class="user-menu-item">
                                        <a href="account-setting">Account setting</a>
                                    </li>
                                    <li class="user-menu-item">
                                        <div class="user-logout">
                                            <a onclick="logout()">Log out</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content-ab">
            <div class="content-us">
                <h3>ABOUT US</h3><br>
                <p>Founded in 2020 by N09-Team, ShoesShelf is a blog website established in current sneaker's culture.
                </p>
                <p>Delving deeply into purist desire and dream about a community for sneaker head all over the world.
                </p>
                <P>Design for those who love shoes and want to sharing love, experience and stories with us.</P>
                <p>From just a pair of shoes, we connect and link brands together to build up a new lifestyle</p>
                <p>of Vietnamese's young generation!</p>
            </div>
            <div class="about-us-img">
                <img class="ct-img" src="./assets/images/undraw_web_developer_p3e5.png">
            </div>
        </div>
        <footer>
            <div class="footer-container">
                <div class="left-col">
                    <div class="social">
                        <a href="/instagram" target="_blank" title="collective on Instagram">
                            <i class="fab fa-instagram"> </i>
                        </a>
                        <a href="https://www.facebook.com/" target="_blank" title="collective on facebook">
                            <i class="fab fa-facebook"> </i>
                        </a>
                        <a href="/pinterest" target="_blank" title="collective on Pinterest">
                            <i class="fab fa-pinterest-p"> </i>
                        </a>
                        <a href="https://youtube.com/" target="_blank" title="Find us on Youtube">
                            <i class="fab fa-youtube"> </i>
                        </a>
                    </div>
                    <p>© ShoesShelf 2020 | Created by N09-Team All Rights Reserved </p>
                </div>

                <div class="right-col">
                    <h1>Our Newsletter</h1>
                    <div class="border"></div>
                    <p>Enter your emails to connect with us.</p>
                    <form action="" class="newsletter">
                        <input type="text" class="txtb" placeholder="Enter Your Email">
                        <input type="submit" class="btn" value="Submit">
                    </form>

                </div>
            </div>
        </footer>
    </div>
    <!--Script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./assets/js/header-footer.js"></script>

    <!--JS api login facebook and google-->
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async></script>
    <script src="./assets/js/api-gg-fb-login.js"></script>
    <div id="status"></div>
</body>

</html>