<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
=======
>>>>>>> 0f2e3ba9eff2f7d4eaa4bf8ca2951ebe5aecd043
    <link rel="stylesheet" href="library/fontawesome-free-5.11.2-web/css/all.min.css">
    <link rel="stylesheet" href="css/header-footer-style.css">
    <link rel="stylesheet" href="css/your-shelf.css?v=12042020">
    <link rel="stylesheet" href="css/styles.min.css">
    <script src="https://apis.google.com/js/api:client.js"></script>

    <title>Your Shelf</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" id="form-upload">
        <div>
            <input type="file" name="file" class="form-control" />
        </div>
        <input type="submit" value="Upload" />
    </form>
    <div tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div>
            <div>
                <h4 id="myModalLabel">
                    Upload image
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    x
                </button>
            </div>
            <div>
                <form method="POST" enctype="multipart/form-data" id="form-upload">
                    <div>
                        <input type="file" name="file" class="form-control" />
                    </div>
                    <input type="submit" value="Upload" />
                </form>
            </div>
        </div>
   </div>
    <script>
        function doPost(form) {
            $.ajax({
                url:"/home",
                method: "POST",
                data: {status: form.status.value, image: imagePath, brands: form.brands.value, hashtag:form.hashtag.value},
                success: function(response){
                    alert(response);
                }
            });
            return false;
        }
    </script>
    <script>
        var imagePath = "" ;
        $("#form-upload").on("submit",function(e) {
            e.preventDefault();
            $.ajax({
                url:"/do-upload-image",
                method: "POST",
                data: new FormData(this),
                contentType : false,
                cache: false,
                processData: false,
                success: function(response) {
                    imagePath = response;
                    $("#myModal").modal("hide");
                }

            });
        })
    </script>
</body>
</html>