<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/login.css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <title>Admin Login</title>
</head>

<body class="bg">
    <div class="login-bg"></div>
    <form class="modal animate" action="/login-admin" method="POST">
        <div class="title-container">
            <p class="title-login">Admin Login</p>
        </div>
        <div class="container-login">
            <input type="text" placeholder="Use name or email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <p> <%- errors %> </p>
            <button type="submit" class="btn-sign-in">Sign in</button>
        </div>
    </form>
    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async></script>
    <script src="../assets/js/api-gg-fb-login.js"></script>
    <div id="status"></div>
</body>

</html>