<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/header-footer-style.css">
    <link rel="stylesheet" href="/assets/css/posts.css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <title>Post</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar" id="navbar">
                <div class="nav-bar">
                    <!--Navbar left -->
                    <div class="navbar-left">
                        <div class="left-logo">
                            <img src="/assets/images/logo-main.png" alt="Error" class="logo-img">
                        </div>
                        <!--Menu home, about, latest news-->
                        <ul class="left-menu" id="left-menu">
                            <li class="left-sub-menu">
                                <a href="" class="menu-item">Home</a>
                            </li>
                            <li class="left-sub-menu">
                                <a href="./about.html" class="menu-item">About us</a>
                            </li>
                            <li class="left-sub-menu">
                                <a href="latest-news" class="menu-item">Latest news</a>
                            </li>
                        </ul>
                    </div>
                    <!--Navbar middle-->
                    <div class="navbar-middle">
                        <a href="/main" class="img-logo"></a>
                    </div>
                    <!--Navbar right after sign in-->
                    <div class="navbar-right-user" id="navbar-right-user">
                        <!--search-->
                        <div class="right-search">
                            <form action="" class="search-form">
                                <input type="text" name="search" placeholder="Search anything you want...">
                                <button class="btn-search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <!--showup user after user sign in complete-->
                        <div id="user" class="user">
                            <div class="user-avatar">
                                <img src="/assets/images/userPost/<%= avatar %> " id="user-img" class="user-img">
                                <ul class="user-menu" id="user-menu" style="display: none;">
                                    <li class="user-menu-item">
                                        <div class="user-name-container">
                                            <p id="user-name" class="user-name">Name_User</p>
                                        </div>
                                    </li>
                                    <li class="user-menu-item">
                                        <a href="/your-shelf">YourShelf</a>
                                    </li>
                                    <li class="user-menu-item">
                                        <a href="/account-setting">Account setting</a>
                                    </li>
                                    <li class="user-menu-item">
                                        <div class="user-logout">
                                            <a onclick="logout()">Log out</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <% posts.forEach(function (post) { %>
        <%if(idpost == post._id ){%>
        <div class="content">
            <article>
                <div class="post-title">
                    <p class="title"> <%= post.status %> </p>
                    <hr>
                    <div class="post-status">
                        <img src="" alt="" class="user-img">
                        <p class="user-name"></p>
                        <p class="post-time"><%= post.date %></p>
                    </div>
                </div>
                <div class="post-container">
                    <div class="post-container-content">
                        <!-- content post -->
                        <div class="post-content">
                            <% for(var i=0 ; i < post.image.length ; i++) {%>
                            <img src="/assets/images/userPost/<%= post.image[i].filename %>" alt="" class="img-normal">
                            <%}%>
                        </div>
                        <!-- hashtag -->
                        <div class="post-branch-hashtag">
                            <p class="hashtag">#VansVaut #custom #fullcolor</p>
                        </div>
                        <!-- box comment -->
                        <script>
                            function commentPost(){
                                var containComment = document.getElementById('contain-comment');
                                var commentList = document.createElement('div');
                                commentList.className = 'comment-list';

                                var commentContent = document.getElementById('box-comment').value;
                                containComment.appendChild(commentList);

                                commentList.innerHTML = `
                                    <div class="comment-author">
                                        <img src="" alt="" class="user-img">
                                        <p class="user-name"></p>
                                        <p class="comment-time">
                                            1 minuter
                                        </p>
                                    </div>
                                    <div class="comment-body">
                                        ${commentContent}
                                    </div>
                                `
                            }
                        </script>
                        <div class="container-box-comment">
                            <textarea name="box-comment" id="box-comment" class="box-comment" placeholder="New comment!!" cols="130" rows="15" ></textarea>
                            <button class="btn-comment" onclick="commentPost()">Write</button>
                        </div>
                        <!-- comment -->
                        <div class="contain-comment" id="contain-comment">
                            <div class="comment-list">
                                <div class="comment-author">
                                    <img src="" alt="" class="user-img">
                                    <p class="user-name"></p>
                                    <p class="comment-time">
                                        1 minuter
                                    </p>
                                </div>
                                <div class="comment-body">
                                    Bài viết hay!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="side-bar">
                        <select name="sort-brands" class="brands sort-form" id="brands">
                            <option selected hidden style="font-weight: bold;">Brands</option>
                            <option value="vans">Vans</option>
                            <option value="adidas">Adidas</option>
                            <option value="nike">Nike</option>
                            <option value="reebok">Reebok</option>
                            <option value="converse">Converse</option>
                            <option value="puma">Puma</option>
                            <option value="other">Orther</option>
                        </select>
                        <input type="text" name="collections" placeholder="Collections" class="collections sort-form">
                        <input type="text" name="hashtag" placeholder="#HashTag" class="hashtag sort-form">
                        <button class="btn-search sort-form">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </article>
        </div>
        <%}%>
        <% }) %>
        <footer>
            <div class="footer-container">
                <div class="left-col">
                    <div class="social">
                        <a href="/instagram" target="_blank" title="collective on Instagram">
                            <i class="fab fa-instagram"> </i>
                        </a>
                        <a href="https://www.facebook.com/" target="_blank" title="collective on facebook">
                            <i class="fab fa-facebook"> </i>
                        </a>
                        <a href="/pinterest" target="_blank" title="collective on Pinterest">
                            <i class="fab fa-pinterest-p"> </i>
                        </a>
                        <a href="https://youtube.com/" target="_blank" title="Find us on Youtube">
                            <i class="fab fa-youtube"> </i>
                        </a>
                    </div>
                    <p>© ShoesShelf 2020 | Created by N09-Team All Rights Reserved </p>
                </div>
                <div class="right-col">
                    <h1>Our Newsletter</h1>
                    <div class="border"></div>
                    <p>Enter your emails to connect with us.</p>
                    <form action="" class="newsletter">
                        <input type="text" class="txtb" placeholder="Enter Your Email">
                        <input type="submit" class="btn" value="Submit">
                    </form>

                </div>
            </div>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./assets/js/header-footer.js"></script>

    <!--JS api login facebook and google-->
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async></script>
    <script src="./assets/js/api-gg-fb-login.js"></script>
    <div id="status"></div>
</body>

</html>