<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/login.css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <title>Register</title>
</head>

<body class="bg">
    <div class="login-bg"></div>
    <form name="f1" class="modal animate" action="/register" onsubmit="return matchpass() , lengthpass()" method="POST">
        <div class="title-container">
            <p class="title-login">Register</p>
        </div>
        <div class="container-login">
            <p class="error"> <%- errors %></p>
            <input type="text" placeholder="Use name" name="name" id="name" required>
            <input type="email" placeholder="Email" name="email" id="email" required>
            <input type="password" placeholder="Enter password" name="password" id="password" onchange="lengthpass()" required>
            <input type="password" placeholder="Enter password again" name="password2" onchange="matchpass();" required>
            <button type="submit" class="btn-sign-up">Create</button>
            <div class="back-psw">
                <span>
                    <i class="fas fa-angle-left"></i>
                    <a href="login">Back to login</a>
                </span>
                <span>
                    <a href="/">Back to homepage</a>
                    <i class="fas fa-angle-right"></i>
                </span>
            </div>
            <p class="or">OR</p>
            <div class="sign-in-other">
                <div class="fb-login-button" scope="public_profile,email" onlogin="checkLoginState();" data-width=""
                    data-size="large" data-button-type="continue_with" data-layout="rounded"
                    data-auto-logout-link="false" data-use-continue-as="false"></div>
                <div id="gg-login-button">
                    <div id="customBtn" class="custom-gg-sign-in">
                        <span class="icon"></span>
                        <span class="button-text">Continue with Google</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../assets/js/script.js" ></script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async></script>
    <script src="../assets/js/api-gg-fb-login.js"></script>
    <div id="status"></div>
</body>

</html>