$color-main: #ffa502

.main-content
    flex-grow: 1
    background-color: #181818
    height: auto
    width: 100%
    max-width: 1366px
    // max-width: 1366px
    margin: auto
    display: flex
    padding: 24px 120px
    .sort-container
        width: 28%
        float: right
        display: flex
        flex-direction: column
        align-items: center
    .list-posts
        height: auto
        width: 72%
        display: flex
        flex-direction: column
        .post-container
            width: 90%
            height: auto
            margin: 16px 0
.sort-container
    .sort-form
        width: 200px
        margin: 24px 30px 0 0
        height: 32px
        padding: 8px
        color: white
        outline: none
        background: #181818
        border: none
            bottom: 1px solid $color-main
        &:focus
            outline: none
    .brands
        color: white
        font-size: 1rem
        option
            &:nth-of-type(1)
                color: white
    .collections
    .hashtag
    .btn-search
        color: black
        width: 80px
        padding: 0
        font-size: 24px
        margin-left: 20px
        border: 1px solid $color-main
        background-color: $color-main
        cursor: pointer
        height: 30px
        border-radius: 20px
        transition: opacity 0.3 linear
        &:hover
            color: white

//img 360
.container-img360
    position: fixed
    background-color: white
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    z-index: 99999
.btn-close
    position: absolute
    font-size: 32px
    font-family: sans-serif
    right: 80px
    top: 0
    font-style: initial
    cursor: pointer
    z-index: 99999
//slide animate
#slider
    height: auto
    width: 56%
    overflow: hidden
    min-height: 375px
    max-height: 375px  
//content main
.post-container
    .posts
        height: auto
        width: 100%
        display: flex
        background-color: #070509
        padding: 16px
        .post-avatar
            height: auto
            width: 100%
            display: block
            margin: auto
        .post-title
            width: 44%
            height: auto
            max-height: 100%
            margin-left: 16px
        .post-content, .post-hash-tag
            margin-bottom: 8px
            width: 100%
            color: white
            text-overflow: ellipsis
            line-height: 25px
            overflow: hidden
            height: auto //line-height * clamp
            max-height: 145px
            display: -webkit-box
            -webkit-box-orient: vertical
            -webkit-line-clamp: 6
        .post-hash-tag
            height: auto
            -webkit-line-clamp: 3
        .btn-view-360
            color: $color-main
            background: none
            border: none
            position: relative
            font-size: 16px
            cursor: pointer
            &:focus
                outline: none
            &::before, &::after
                content: ""
                position: absolute
                border-bottom: 1px solid $color-main
                width: 0
                bottom: -2px
                transition: all 0.2s ease-in-out
            &::before
                left: 50%
            &::after
                right: 50%
            &:hover::before, &:hover::after
                width: 50%
        .read-more
            color: $color-main
            text-decoration: none
            position: relative
            cursor: pointer
            &:focus
                outline: none
            &::before, &::after
                content: ""
                position: absolute
                border-bottom: 1px solid $color-main
                width: 0
                bottom: -2px
                transition: all 0.2s ease-in-out
            &::before
                left: 50%
            &::after
                right: 50%
            &:hover::before, &:hover::after
                width: 50%
    .status
        height: 10%
        width: 100%
        padding: 4px 0
        display: flex
        justify-content: space-between
        .user-name, .post-time
            font-size: 16px
            color: $color-main
            width: 50%
        .post-time
            text-align: end
.post-content
    p
        text-overflow: ellipsis
