@media only screen and ( max-width: 767.98px )
    .container-login
        padding: 0 8px !important
        input[type="text"], input[type="password"], input[type="email"]
            width: 60%
            &:focus
                width: 80%
        .btn-sign-in
            width: 30%