@import ../base/_mixin
@import ../layout/_your-shelf-layout

#btn-your-shelf
    color: white !important
//content your shelf in show posts of user
.user-your-shelf
    display: flex
    flex-flow: row wrap
    width: 100%
    margin: auto
    height: auto
    .cards-posts
        width: 28%
        height: auto
        cursor: pointer
        margin: 0 0 2% 3.6%
        position: relative
        background-color: rgba(32,28,41,.75)
    .card-container-img
        width: 100%
        height: 80%
        .card-img
            width: 100%
            height: auto
            max-height: 100%
    .card-container-content
        // width: 100%
        height: auto
        padding: 4px
        color: white
        font-size: 14px
        width: 100%
        text-overflow: ellipsis
        overflow: hidden
        // height: auto //line-height * clamp
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2
        .card-short-content
            overflow: hidden
.more-edit-post
    position: absolute
    right: 8px
    top: 8px
    .btn-more
        font-size: 24px
    .more-menu
        display: none
        position: absolute
        background-color: #ffffff
        height: 120px
        width: 120px
        right: 0
        padding: 8px
        border-radius: 4px
        z-index: 14
        box-shadow: 4px 4px 16px 0 gray
        &-item
            margin-top: 16px
            margin-left: 12px
            position: relative
            button
                background: none
                border: none
                outline: none
                font-size: 16px
            &::before
                content: ""
                display: block
                width: 0
                position: absolute
                height: 1px
                transition: all 0.2s ease-in-out
                background-color: #000
                left: 0
                bottom: -2px
            &:hover::before
                width: 100%
    .active
        display: block !important